.bodyWrapper{
  $header-height:3rem;
  $sidebar-width:3rem;
  .header{
    width: 100%;
    height: $header-height;
    box-shadow: 0 0 10px #cfcfcf;
    position: fixed;
  }
  .sidebar{
    width: $sidebar-width;
    .menu{
      .menuItem{
        height: 2rem;
        .avatar{
          width: 100%;
        }
        .content{
          display: none;
          &:hover, &:active{
            display: inline;
          }
        }
      }
    }
  }
  .contentArea{
    margin-top: $header-height;
    margin-left: $sidebar-width;
  }
}